*{
  padding: 0px;
  margin: 0px;
}
/* 
.conteudo{
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 240, 240);
} */


/* .cabecalho{
  background-color: #1c500b;
  border-bottom: 1px solid black;
}

.cabecalho a{
  color: white;
}

.box {
  width: 700px;
  height: 700px;
  margin: 0 auto; 
  padding: 25px;
  border: 1px solid #000000;
  background-color: white;
  display: block;
  margin-top: 50px;
}

.box-c {
  width: 350px;
  height: 350px;
  background-color: #353B3C;
  border-radius: 20px;

}
.box-c a{
  color: white;
}

.box-prod{
  width: 500px;
  height: 500px;
  background-color: #353B3C;
  border-radius: 20px;
  margin-top: 110px;
  justify-content: center;
  align-items: center;
  display: flex;
  
  
}

.box-prod a{
  color: white;
  text-align: center;
  margin-top: 50%;
}

.col-box {
  height: 785px;
}

img{
  width: 270px;
  height: 270px;
}


.box div{
  text-align: center;
}

.logo{
  width: 50px;
  height: 50px;
}

#logo{
  width: 250px;
  height: 250px;
}

.botaoCadastrese{
  text-align: center;
  margin-left: 15%;
  width: 450px;
  height: 65px;
  background-color:#7ed957;
  color: black;
  font-size: 25px;
}
 */




/* Colocando Linha */
/* .linha{
  width: 100%;
  display: block;
  margin-top: 10px;
  border-bottom: 1px solid gray;
}


.enviar{
  margin-bottom: 20px;
} */

#root{
  height: 100vh;
}