.btnProd{
    background-color: #009970;
    color: white;
    margin-top: 50px;
    
}

.btnProd:hover{
    background-color: #014735;
    color: white;
}

.box-prod{
    width: 500px;
    height: 550px;
    background-color: #353B3C;
    border-radius: 20px;

    justify-content: center;
    align-items: center;
    display: flex;
    
    
}

.box-prod a{
    color: white;
    text-align: center;
    
}