 .minibox{
    width: 500px;
    height: 250px;
    border: 1px solid #000000;
    background-color: white;
    border-radius: 50px;
   
}

.tituloCarrinho{
    border-bottom: 2px solid black;
}

.box2{
    width: 700px;
    height: 600px;
    border: 1px solid #000000;
    background-color: white;
    border-radius: 100px;
}   

.icone{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
   
}

.texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    justify-content: center;
}

.btnCarrinho{
    width: 200px;
    height: 40px;
    border-radius: 30px;
    align-self:center;
    margin-top: 50px;
}