
.box {
    width: 700px;
    height: 700px;
    margin: 0 auto; 
    padding: 25px;
    border: 1px solid #000000;
    background-color: white;
    display: block;
    margin-top: 50px;
}

.botaoCadastrese{
    text-align: center;
    margin-left: 15%;
    width: 450px;
    height: 65px;
    background-color:#7ed957;
    color: black;
    font-size: 25px;
}