
.box {
    width: 700px;
    height: 700px;
    margin: 0 auto; 
    padding: 25px;
    border: 1px solid #000000;
    background-color: white;
    display: block;
    margin-top: 50px;
    justify-content: center;
}



.linha{
    width: 100%;
    display: block;
    margin-top: 10px;
    border-bottom: 1px solid gray;
}


.logoLogin{
    width: 250px;
    height: 250px;
    align-self: center;
    justify-self: center;
}

.btnLogar{
    background-color: #009970;
    color: white;
    font-weight: bold;
    width: 200px;
    height: 40px;
}