@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.btnPesq {
    background-color: transparent;
    border: none;
}

.logo {
    width: 50px;
    height: 50px;
}

.navbar {
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
    background-color: #1c500b;
    color: white;
}

#barraPesq {
    width: 400px;
    border-radius: 20px;
}

.navbar a {
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.navbar a:hover {
    color: white;
}

.navbar-brand {
    font-weight: 500;
    font-size: 24px;
    transition: 0.3s color;
}

.login-button {
    background-color: #009970;
    color: white;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 58px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover {
    background-color: #00b383;
}

.navbar-toggler {
    font-size: 1.25rem;
    border: none;
}

.navbar-toggler:focus .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
}

.nav-item a:hover {
    color: white;
}

.teste {
    background-color: #698d5d !important;
}

@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #009970;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before,
    .nav-link.active::before {
        width: 100%;
        visibility: visible;
    }
}
